/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.btn{
    color: white;
    background-color: #0061ff;
    padding: 7px 20px;
    border: 1px solid black;
}

.container{
    width: 80%;
    margin: auto;
    /* background-color: cadetblue; */
}

.relative{
    position: relative;
}








/* *** HEADER *** */

header{
    height: 70px;
    width: 100%;
    line-height: 64px;
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
}
nav{
    height: 70px;
    margin: 0 10px;
}

nav li a{
    margin: 0 25px;
}

header nav img{
    vertical-align: text-bottom;
    width: 122px;
}

nav li{
    display: inline-block;
}
nav li:hover{
    border-bottom: 2px solid black;
}

nav li#logo:hover{
    border-bottom: none;
}
nav .last:hover{
    border-bottom: none;
}




/* *** JUMBOTRON *** */


#jumbo{
    background-color: #b4d0e7;
    margin-top: 30px;
}

#jumbo .container-jumbo{
    width: 80%;
    margin: auto;
    position: relative;
    bottom: -80px;
}


#jumbo .container-jumbo .row{
    margin-top: 30px;
}

#jumbo .container-jumbo h1{
    font-size: 70px;
}

#jumbo .container-jumbo .col-sx{
    width: 30%;
    margin-right: 50px;
}
#jumbo .container-jumbo .col-sx a{
    display: inline-block;
    margin: 15px 0;
}
#jumbo .container-jumbo .col-sx p{
    font-size: 15px;
    font-weight: bold;
}
#jumbo .container-jumbo .col-sx i{
    font-size: 40px;
    padding-top: 30px;
}


#jumbo .container-jumbo .col-dx{
    width: 60%;

}
#jumbo .container-jumbo .col-dx img{
    max-width: 820px;
}


/* *** MAIN *** */

/* *** FOOTER *** */

footer{
    height: 500px;
    background-color: black;
}






/* *** DEBUG *** */


.debug main{
    height: 2000px;
    
}

.debug main .container {
    width: 75%;
    margin-top: 160px;
    background-color: lightgrey;
}

.debug main .main-top {
    padding: 30px 0;
}

.debug main .main-top h2{
    padding: 30px 0;
    font-size: 40px;
}

.debug main .container .column{
    width: calc(100% / 3 - 30px);
    height: 1000px;
    border: 1px solid black;
    background-color: blanchedalmond;
}

.debug main .container .margin{
    margin: 0 45px;
}

.debug main .column .sub-title{
    border-bottom: 1px solid black;
    text-align: center;line-height: 20px;
    line-height: 50px;
}

.debug main .column .col-sub-container{
    width: 80%;
    margin: auto;
    height: 200px;
    font-size: 12px;
}

.col-sub-container-top{
    padding: 12px 0;
}

.debug main .column .col-sub-container-top h2{
    font-size: 25px;
    padding-bottom: 12px;
}
.debug main .column .col-sub-container-top .price{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}

.col-sub-container-middle{
    padding: 30px 0;
}

.col-sub-container-middle #pen{
    display: inline-block;
    width: 90%;
}

.col-sub-container-middle div > i {
    position: relative;
    bottom: 17px;
}

.col-sub-container-middle div{
    padding: 8px 0;
}

.col-sub-container-middle .btna{
    padding: 5px 55px;
}





/* *** dfooter *** */




