/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}





/* *** HEADER *** */

header{
    height: 70px;
    width: 100%;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
}
nav{
    height: 70px;
    margin: 0 10px;
}

header #logo{
    vertical-align: middle;
    width: 122px;
}

nav li{
    display: inline-block;
}

nav li a{
    padding: 0 25px;
    margin: 0 10px;
}

nav li .btn{
    color: white;
    background-color: rgb(0, 60, 255);
    padding: 7px 20px;
    border: 1px solid black;
}




/* *** JUMBOTRON *** */


.jumbo{
    height: 600px;
    background-color: #82b2e6;
}


/* *** MAIN *** */

/* *** FOOTER *** */

footer{
    height: 500px;
    background-color: black;
}







/* *** DEBUG *** */




/* *** dmain*** */

.debug main{
    height: 2000px;
    background-color: darkgreen;
}
/* *** dfooter *** */




